#paper {
    height: 270px;
    width: 450px;
    margin: 0 auto;
    padding-top: 1em;
    margin-top: 2em;
    background-color: white;
}

.container {
    background-color: #e6effe;
    height: 100%;
    padding: 0;
    margin: 0;
}

.submitBtn {
    margin-top: 1.5em;
    display: block;
}

