.App {
  text-align: center;
  background-color: #e6effe
}

.MuiAppBar-positionStatic, 
.MuiAppBar-colorDefault {
  background: yellow;
}

.App-header {
  min-height: 70px;
  padding: 2px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  padding-top: 2px;
}

.App-intro {
  font-size: large;
}


body {
  background-color: #e6effe
}


.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav li {
  float: left;
}
.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 5px;
}
/* Change the link color to #111 (black) on hover */
.nav li a:hover {
  background-color: #242e42;
}
